<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset Password</title>
</head>
<body style="font-family: Arial, sans-serif; margin: 0; padding: 0; background-color: #f4f4f4;">

<table role="presentation" cellspacing="0" cellpadding="0" width="100%" style="margin: auto;">
    <tr>
        <td style="padding: 20px 0; text-align: center;">
            <img src="https://example.com/logo.png" alt="Company Logo" width="150">
        </td>
    </tr>
    <tr>
        <td style="background-color: #ffffff; padding: 40px;">
            <h2 style="color: #333333;">Hello, <b th:text="${name}">name</b> </h2>
            <h3 style="color: #333333;">OTP -  <b th:text="${otp}">otp</b> </h3>
            <p style="color: #666666; font-size: 16px; line-height: 1.5;">Please use the above token to complete your password reset.</p>
            <p style="color: #666666; font-size: 16px; line-height: 1.5;">In the meantime, feel free to explore our website or check out our latest offerings.</p>
            <p style="color: #666666; font-size: 16px; line-height: 1.5;">Best regards,<br>Tango Team</p>
        </td>
    </tr>
    <tr>
        <td style="text-align: center; padding: 20px 0; background-color: #333333; color: #ffffff;">
            &copy; GEO TAG All rights reserved.
        </td>
    </tr>
</table>

</body>
</html>
